<!--8:48 time stamp-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>
<body>
    <div class="side-button">
        <button class="button EVA">EVA Consumables</button>
        <button class="button OR">Orbital Mechanics & Rendezvous</button>
        <button class="button fuel">Fuel Needs & Delta-V</button>
        <button class="button mass">Mass Measurement</button>
        <button class="button time">Time Synchronization</button>

    </div>
    
</body>
</html>